* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    108.7deg,
    rgba(221, 22, 224, 1) 11%,
    rgb(0, 4, 65) 88.2%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body::-webkit-scrollbar {
  display: none;
}

.appContainer {
  width: 90vw;
  min-height: 90vh;
  background-color: rgba(255, 255, 255, 0.233);
  backdrop-filter: blur(4px);
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 10px;
  position: relative;
}

.header{
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.cpy {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  
}
#timeDisplay {
  position: absolute;
  top: 5px;
  left: 10px;
  color: black;
  font-size: 1.3rem;
}

h1 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.inputContainer {
  width: clamp(100%,300px, 60%);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inputContainer input {
  width: auto-fit;
  height: 100%;
  padding: 0.8em 1.5rem;
  font-size: 1rem;
  text-align: start;
  border: none;
  border-radius: 10px;
  outline: none;
  color: rgba(0, 4, 65, 0.644);
  position: relative;
}

.addTask {
  height: 100%;
  padding: 1rem 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: rgb(176, 181, 248);
  color: rgb(0, 4, 65);
  cursor: pointer;
}

.cardContainer li {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.308);
  color: white;
  backdrop-filter: blur(5px);
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  list-style-type: none;
  user-select: none;
  font-size: calc(16px + 4 * ((100vw - 568px) / (768 - 568)));
}

.cardContainer li:hover {
  background-color: rgba(124, 4, 124, 0.466);
  transition: all 0.3s;
}

.btnContainer{
  display: grid;
  place-items: center;
}

.btnContainer button {
  padding: 0.3rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

input[type='checkbox']{
  transform: scale(2);
}

input[type='checkbox']:checked ~ p{
  text-decoration: line-through;
  color: red;
}

.delButton {
  font-size: 1rem;
  background-color: rgb(255, 74, 74);
  color: white;
}

.delButton:hover {
  background-color: rgb(126, 37, 37);
  transform: scale(1.2);
}

.delButton:active{
  
  background-color: rgb(77, 22, 22);
}

.timeDisplay {
  font-size: 0.8rem;
  position: absolute;
  color: rgba(255, 255, 255, 0.658);
  bottom: 0;
  left: 1rem;
}
